:root {
  --color-primary         : #EDD634;
  --color-secondary       : #258fb8;
  --color-cancel          : #d2d8e0;

  --color-white           : #fff;
  --color-light-gray      : #e8e8e8;
  --color-red             : #df5656;

  --color-font-black      : #222;
  --color-font-gray       : #666;
  --color-font-light-gray : #8899a6;
}
