/*-------------------------------------//
//  Size Settings
//-------------------------------------*/

:root {
  --size-min-width: 960px;
  --size-header-height: 40px;
  --size-footer-height: 116px;
  --size-side-navi-width: 230px;
  --size-home-navi-height: 40px;
}
