/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.c-button {
  display: inline-block;
  line-height: 1;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
}
.c-button.filter:hover { filter: brightness(1.1); }
.c-button.opacity:hover { opacity: .7; }


/*-------------------------------------//
//  Modifier
//-------------------------------------*/

/* theme */

.c-button.theme-primary,
.c-button.theme-secondary,
.c-button.theme-cancel { color: var(--color-white); }

.c-button.theme-primary { background-color: var(--color-primary); }
.c-button.theme-secondary { background-color: var(--color-secondary); }
.c-button.theme-cancel { background-color: var(--color-cancel); }

/* size */

.c-button.size-wide { width: 100%; }
.c-button.size-m {
  font-size: 1.4rem;
  padding: 10px;
}
.c-button.size-s {
  font-size: 1.2rem;
  padding: 8px 10px;
}
