/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.c-column { font-size: 0; }
.c-column > li { display: inline-block; }
.c-column > li:first-child { margin-left: 0 !important; }
.c-column > li:last-child { margin-right: 0 !important; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/

/* size */

.c-column.size-s > li { margin: 0 5px; }
.c-column.size-m > li { margin: 0 10px; }
