.c-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}
.c-dialog-body { margin-bottom: 20px; }
.c-dialog-text {
  font-size: 1.4rem;
  line-height: 1.4;
}
.c-dialog-bottom { text-align: right; }
