/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.c-icon { display: block; }
.c-icon > svg {
  width: 100%;
  height: auto;
}

.c-icon.logo2 { width: 100px; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
