
/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.c-label {
  display: inline-block;
  cursor: pointer;
}


/*-------------------------------------//
//  Modifier
//-------------------------------------*/

/* theme */

.c-label.theme-gray { color: var(--color-font-gray); }

/* size */

.c-label.size-m { font-size: 1.4rem; }
