.c-navi {
  text-align: center;
  font-size: 0;
}
.c-navi > li { display: inline-block; }
.c-navi-link {
  overflow: hidden;
  position: relative;
  display: block;
  padding: 0 15px;
  line-height: var(--size-home-navi-height);
  font-size: 1.4rem;
}
.c-navi-link::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
  content: "";
  transition: all .3s;
}
.c-navi-link.is-hidden { display: none; }
.c-navi-link.is-active::after,
.c-navi-link:hover::after { bottom: 0; }
