.a-buttonLink {
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
}
.a-buttonLink:hover { filter: brightness(1.1); }

.a-buttonLink.primary,
.a-buttonLink.theme { color: var(--color-white); }

.a-buttonLink.primary { background-color: var(--color-blue); }
.a-buttonLink.theme { background-color: var(--color-theme); }
