/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.a-icon { display: block; }
.a-icon > svg {
  width: 100%;
  height: auto;
}

.a-icon.logo2 { width: 100px; }

/*-------------------------------------//
//  Modifier
//-------------------------------------*/
