/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.a-input {
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
}


/*-------------------------------------//
//  Modifier
//-------------------------------------*/

/* theme */

.a-input.theme-primary:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 2px var(--color-primary);
}
.a-input.theme-secondary:focus {
  border-color: var(--color-secondary);
  box-shadow: 0 0 2px var(--color-secondary);
}

/* size */

.a-input.size-wide { width: 100%; }
.a-input.size-m {
  font-size: 1.2rem;
  padding: 8px;
}
