/*-------------------------------------//
//  Commmon
//-------------------------------------*/

.a-label {
  display: inline-block;
  cursor: pointer;
}


/*-------------------------------------//
//  Modifier
//-------------------------------------*/

/* theme */

.a-label.theme-gray { color: var(--color-font-gray); }

/* size */

.a-label.size-m { font-size: 1.4rem; }
