.a-logoLink {
  display: inline-block;
  width: 100px;
  height: 39px;
  background: no-repeat center center;
  background-size: 100% auto;
  font-size: 0;
}
.a-logoLink:hover { opacity: .7; }

.a-logoLink.black { background-image: url(https://dl.dropboxusercontent.com/s/vl511wi7m8632cn/logo-black.png); }
