.p-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat url(http://68.media.tumblr.com/738b981e038fdb3633b81934d8ad4504/tumblr_ollvmdw3vX1u1unrlo1_1280.jpg) center center #ddd;
  background-size: cover;
}
.p-auth-label {
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, .95);
}
.p-auth-label.is-head {
  justify-content: space-between;
  top: 0;
}
.p-auth-label.is-foot {
  justify-content: center;
  bottom: 0;
}
.p-auth-form { width: 260px; }
.p-auth-form__title {
  margin-bottom: 20px;
  text-align: center;
}
.p-auth-form__list { margin-bottom: 20px; }
.p-auth-form__list > li:not(:first-child) { margin-top: 15px; }

