.p-auth {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--size-min-width);
  height: 100vh;
  background-color: #ddd;
}
.p-auth-posters {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.p-auth-bar {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, .95);
}
.p-auth-bar.is-head {
  justify-content: space-between;
  top: 0;
}
.p-auth-bar.is-foot {
  justify-content: center;
  bottom: 0;
}
.p-auth-box { position: relative; }
