.p-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: no-repeat url(http://68.media.tumblr.com/738b981e038fdb3633b81934d8ad4504/tumblr_ollvmdw3vX1u1unrlo1_1280.jpg) center center #ddd;
  background-size: cover;
}
.p-auth-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.p-auth-nav {
  display: flex;
  align-items: center;
}
.p-auth-main {
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, .95);
}
.p-auth-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
