.p-login { width: 260px; }
.p-login-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.0rem;
  text-align: center;
}
.p-login-list { margin-bottom: 20px; }
.p-login-list > li:not(:first-child) { margin-top: 15px; }
.p-login-error { margin-bottom: 20px; }
