.p-signUp { width: 260px; }
.p-signUp-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.0rem;
  text-align: center;
}
.p-signUp-list { margin-bottom: 20px; }
.p-signUp-list > li:not(:first-child) { margin-top: 15px; }
.p-signUp-error { margin-bottom: 20px; }
